{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block styles %}
<link href="{% static 'site/css/main.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'site/css/home.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

{% endblock splash %}


{% block container %}
  <div class="info-block">
    <div class="wrapper">
      <div class="info-header">
        <h2 class="info-title">Devise makes it easier to connect to jobs that matter to you and your skill set:</h2>
      </div>
      <div class="info-navs">
        <a style="transition-delay: 0.6s;" class="info-item" title="About" href="/about" >
          <div class="info-svg" alt="about"><!-- add image svg for about here --></div> 
          <h2>Read more</h2>
          <div class="info-content"><p>Find out about the team behind the project and what drives us</p></div>
        </a>
        <a class="info-item" title="FAQs" href="#" style="transition-delay: 0.6s;">
          <div class="info-svg" alt="faqs"><!-- add image svg for about here --></div> 
          <h2>Common Questions</h2>
          <div class="info-content"><p>Got questions? See here for the common ones</p></div>
        </a>
        <a class="info-item" title="Coming soon" href="#" style="transition-delay: 0.6s;">
          <div class="info-svg" alt="coming soon"><!-- add image svg for about here --></div> 
          <h2>See the preview what's next</h2>
          <div class="info-content"><p>What could it be?</p></div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}