{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  <!-- {% include "_navbar.html" with active_link="home" %} -->
{% endblock %}

{% block navbar-right %}
  <!-- Navbar right options -->
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Devise makes it easier to connect to jobs that matter to you and your skill set</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign Up</a>
        </div>
        <div class="col-md-4 col-sm-4">
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a id="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>About</h2>
      <p>Read about the members behind the project, get contact information and find out more about this project!</p>
      <p><a class="btn btn-primary" href="/about" role="button">Read more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>FAQ</h2>
      <p>Checkout some frequently asked questions about the project and site. </p>
      <p><a class="btn btn-primary" href="#" role="button">Answers here &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>TO BE ANNOUNCED</h2>
      <p>Next stage of the project, stay tuned...</p>
      <p><a class="btn btn-primary" href="#" role="button">What's this? &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}